.env
secrets.conf

*.swp
*.swp
*.tmp
*.tmp
printer-[0-9]*_[0-9]*.cfg
printer-[0-9]*_[0-9]*.cfg
telegram.conf
telegram.conf
.theme
.theme
/printer_data/config/RatOS
/printer_data/config/RatOS
*.bak
*.bak
*.bkp
*.bkp
*.csv
*.csv
*.zip
*.zip
